@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Questrial&display=swap');

html{
  font-family: 'Questrial', sans-serif;
  background-color:#336699;
}

.left{
  font-size: 25px;
  padding-left: 50px;
}

.quizSet{
  padding-left: 50px;
  padding-right: 50px;
}

.with-gap{
  color: blue
}

.questionNumber{
  display: inline-block;
  font-size: large;
  padding-left: 25px;
  padding-right: 25px;
}

.brand-logo{
  padding-left: 10px;
}

form{
  padding-left: 100px;
  padding-right: 100px;
}

label{
  color: black;
  font-size: 15px;
}

.rand{
  display: flex;
}

#tick{
  animation: fadeIn 1s;
}

#option{
  cursor: pointer;
}

#question{
  animation: fadeIn 1s;

}

@keyframes fadeIn{
  from {
    opacity: 0
  }
  to  {
    opacity: 1
  }
}

hr {
  border-width: 2px;
  color: red;
  background-color: red;
  animation: loadIn 10s; 
}

@keyframes loadIn{
  0%{
    width: 0%;
  }
  99% {
    width: 100%;
  }
  100%{
    width: 0%;
  }
}

.center{
  
  text-align: center;
}

.option{
  padding-left: 45%;
  padding-right: 45%;
  font-size: large;
  color: black;
}

.home{
  padding-left: 45%;
  padding-right: 45%;
}

.navi{
  padding-left: 25px;
}
